/* --------------------------------------- GENERAL --------------------------------------------*/
body{
	background-color: black;
	font-family: 'Advent Pro';
	color:#ffffff;
	min-width:920px;
	font-size: 18px;
}

h1{
	text-align: center;
}

#main_frame{
	width: 910px;
	margin: 0 auto;
}

/* ----------------------------------------- BOTH -----------------------------------------------*/

.hero_icon{
	border: 5px solid white;
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    /*border: 2px solid #73AD21;*/
    padding: 10px; 
    width: 100px;
    height: 100px;
}

.stat_row{
	padding: 0px 10px 10px 10px;
	display: inline;
	width: 600px;
	margin: 0 auto;
}

.stats_name{
	position:static;
	right:0;
	top:0;
	padding: 18px 10px 10px 10px;
	width:220px;
	height:132px;
	line-height:18px;
	display: inline;
	margin: auto;
}

.stats_num{
	margin: auto;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
}

.skill_picture{
	width:  40px;
	height: 40px;
	padding-right: 20px;
}

.skill_select{
	width: 150px;
	padding-right: 10px;
}

.weapon_label{
	padding-right: 28px;
}

.special_label{
	padding-right: 33px;
}

.skill_letter_red{
	padding-right: 18px;
}

.skill_letter_blue{
	padding-right: 18px;
}

.skill_letter_green{
	padding-right: 18px;
}

.skill_letter_assist{
	padding-right: 40px;
}

select {
	width: 125px;
    border: 1px solid #000;
    padding: 0px 10px 0px 0px;
    margin: 0;
    height: 22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* --------------------------------------- ATTACKER --------------------------------------------*/

#attacker{
	float: left;
	border: 3px solid #73AD21;
}


.attacker_top{
	padding-bottom: 20px;
	padding-right: -50px;
}


/*

.attacker_skill_letter_red{
   position: absolute; 
   top: 535px; 
   left: 230px; 
   width: 100%; 
}
*/


/* --------------------------------------- DEFENDER --------------------------------------------*/

#defender{
	float: right;
	margin: auto;
	border: 3px solid #73AD21;
}

.defender_top{
	padding-bottom: 20px;
	padding-right: -50px;
}


/* --------------------------------------- RESULTS --------------------------------------------*/

#frame_results{
	float: center;
	text-align: center;
	border: 3px solid #73AD21;
	width: 275px;
	margin: auto;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
    display: block;
}
